@font-face {
    font-family: "Fredoka One";
    src: url('https://fonts.gstatic.com/s/fredokaone/v5/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2') format('woff2');
}

body {
    background-color: #555964;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

.topNavBar .topNavBarDiv {
    padding: 0 150px;
}

.topNavBar .logo {
    float: left;
    font-size: 30px;
    font-family: "Fredoka One";
    padding-top: 4px;
    padding-bottom: 4px;
}

.topNavBar nav {
    float: right;
    padding-top: 10px;
}

.topNavBar .logo>.rs {
    color: #E8676B;
}

.topNavBar .logo>.card {
    color: #9A9DA2;
    margin-left: 4px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav>ul>li:hover {
    border-bottom: 3px solid #E8676B;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: #BEC0C3;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.banner {
    height: 516px;
    background-image:url(../img/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .masker {
    height: 100%;
    background: rgb(44, 51, 64, 0.8);
}

.userCard {

}